---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface BaseLayoutProps {
   metaData: {
      title: string;
      description: string;
      image: string;
   };
}

const { metaData } = Astro.props as BaseLayoutProps;

const isDev = import.meta.env.DEV;
const gaTrackingId = 'G-5TRLEN32BY';
const gaScript = `
  <script async src="https://www.googletagmanager.com/gtag/js?id=${gaTrackingId}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '${gaTrackingId}');
  </script>
`;
---

<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/x-icon" href="/favicon.svg" />

      <title>{metaData.title}</title>
      <meta name="description" content={metaData.description} />

      <!-- Open Graph Tags -->
      <meta property="og:title" content={metaData.title} />
      <meta property="og:description" content={metaData.description} />
      <meta property="og:image" content={metaData.image} />

      <!-- Twitter Card Tags -->
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content={metaData.title} />
      <meta name="twitter:description" content={metaData.description} />
      <meta name="twitter:image" content={metaData.image} />

      {!isDev && gaTrackingId ? <Fragment set:html={gaScript} /> : ''}
   </head>

   <body class="flex flex-col min-h-screen">
      <div class="flex-grow">
         <Header />
         <slot />
      </div>
      <Footer />
   </body>
</html>
<script>
   // Add smooth scroll behavior to all links with "#" in the href
   document.querySelectorAll('a').forEach((anchor) => {
      anchor.addEventListener('click', function (e) {
         const href = anchor.getAttribute('href');

         if (href && href.includes('#')) {
            e.preventDefault();

            const targetId = href.split('#').pop(); // Get the target ID

            if (!targetId) return;

            const targetElement = document.getElementById(targetId);

            if (targetElement) {
               window.scrollTo({
                  top: targetElement.offsetTop,
                  behavior: 'smooth',
               });
            } else {
               // Handle the case where the target element does not exist on the current page
               // For example, you can navigate to the appropriate page here
               window.location.href = href; // Redirect to the page specified in href
            }
         }
      });
   });
</script>
